@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Barlow+Semi+Condensed:wght@200;300;400;500;600;700&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;500;600;700&family=Kumbh+Sans:wght@400;500;600;700&family=Lexend+Deca:wght@100;200;300;400&family=Outfit:wght@100;300;400;600&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap');
body{
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 380px;
    height: 710vh;
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header>img{
    margin-bottom: 4.5rem;
    margin-top: 7rem;
}
section{
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 25px;
}
section>span{
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
}
.buttons{
    margin-top: 3.5rem;
    margin-bottom: 8rem;
}
.button{
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    width: 300px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.button:first-child{
    background-color: hsl(171, 66%, 44%);
    border-bottom: solid hsl(171, 60%, 37%);
    box-shadow: 0px 5px 20px 0px hsl(172, 65%, 79%);
}
.button:last-child{
    background-color: hsl(233, 100%, 69%);
    border-bottom: solid hsl(233, 90%, 60%);
    box-shadow: 0px 5px 20px 0px hsl(233, 95%, 86%);
}
.button:first-child:hover{
    background-color: hsl(171, 50%, 58%);
}
.button:last-child:hover{
    background-color: hsl(233, 90%, 72%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer-section>img{
    width: 320px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.computer-section section>span{
    font-size: 25px;
    font-weight: 600;
}
.computer-section section{
    margin-bottom: 3rem;
}
main>section>span{
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}
main>img{
    width: 360px;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.utilities{
    margin-top: 6rem;
}
.utilities section{
    margin-bottom: 5rem;
}
.utilities section>img{
    margin-bottom: 2rem;
}
.utilities section>span{
    font-size: 23px;    
}
.entreprises{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}
.entreprises img{
    width: 120px;
    margin-bottom: 5rem;
}


footer{
    background-color: hsl(0, 0%, 94%);
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    color: hsl(210, 10%, 33%);
    font-weight: 400;
    font-size: 18px;
}
footer>img{
    width: 60px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.colone{
}
.social-media{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.attribution {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}
.attribution a {
    color: hsl(171, 66%, 44%);
}

@media screen and (min-width: 1024px){
    body{
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: 1450px;
        height: 420vh;
    }
    section{
        font-weight: 400;
        font-size: 19px;    
        padding-left: 0rem;
        padding-right: 0rem;
        width: 730px;
        line-height: 35px;
    }
    section>span{
        font-size: 46px;
        line-height: 35px;
        font-weight: 600;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        width: 500px;
    }
    .button{
        width: 230px;
    }
    #first-parag{
        font-size: 21px;
    }

    .computer-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 6rem;
    }
    .computer-section>img{
        width: 800px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-right: 2rem;
    }
    .computer-section section>span{
        font-size: 25px;
        font-weight: 600;
    }
    .computer-section section{
        margin-bottom: 3rem;
        text-align: start;
        margin-left: 5rem;
        margin-right: 15rem;
        width: 400px;
    }
    main>img{
        width: 960px;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }
    main>section{
        margin-bottom: 2rem;
    }
    main>section>span{
        font-size: 40px;
        font-weight: 600;
    }
    .utilities{
        width: 1400px;
        display: flex;
        justify-content: space-around;
        margin-top: 5rem;
    }
    .utilities section{
        width: 400px;
        margin-bottom: 0rem;
        font-size: 18px;
    }
    .utilities section>span{
        font-size: 24px;
        font-weight: 600;    
    }
    .utilities section>img{
        margin-bottom: 0rem;
        width: 8%;
    }  
    .entreprises{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 1200px;
        margin-top: 8rem;
        margin-bottom: 7rem;
    }
    footer{
        width: 1440px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        line-height: 50px;
        text-align: start;
        position: relative;
    }
    footer>img{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .colone{
        margin: auto;
    }
    #install-guide{
        margin-bottom: 5rem;
        height: fit-content;
    }
    .social-media{
        display: flex;
        justify-content: space-around;
        width: 140px;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-right: 9rem;
        margin-left: 8rem;
    }
    .attribution {
        font-size: 16px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        top: 120px;
        left: 450px;
    }
    
}
